@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
}


/* admin dashboard side navbar */
.leftnav:hover .icon{
  color: #116AEF;
}

.mainDiv{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.docDiv{
  box-shadow: rgba(99, 99, 99, 0.6) 0px 2px 8px 0px;
}


.rti--container {
  width: 600px !important;
}






/* pending status */

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
