@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff;
  font-family: "Lato", sans-serif;
}



/* admin dashboard side navbar */
.leftnav:hover .icon{
  color: #116AEF;
}