@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
}


/* admin dashboard side navbar */
.leftnav:hover .icon{
  color: #116AEF;
}

.mainDiv{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.docDiv{
  box-shadow: rgba(99, 99, 99, 0.6) 0px 2px 8px 0px;
}


.rti--container {
  width: 600px !important;
}






/* pending status */

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}




/* client dashboard */
.patient-safety-container {
  text-align: center;
  padding: 20px;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 100px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 15px;
}

.safety-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

.safety-column {
  display: flex;
  flex-direction: column;
  gap: 15px; 
}

.full-column {
  grid-row: span 2;
}

.safety-card {
  background-color: #fff;
  overflow: hidden;
  padding: 15px;
  text-align: left;
}

.safety-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
}

.safety-card h2 {
  font-size: 1.5em;
  margin: 8px 0;
}

.safety-card p {
  font-size: 1em; /* Smaller description font size */
  color: #555;
  line-height: 1.4; /* Slightly tighter line height */
}


.doctor-card{
  box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 4px 0px;
}